{
  "openapi": "3.0.1",
  "info": {
    "title": "Lytix API Reference",
    "description": "API Reference for Lytix",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lytix.co/v1/metrics"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/modelIO": {
      "post": {
        "operationId": "modelIO",
        "description": "Logs a new model IO event to the Lytix platform",
        "parameters": [
          {
            "name": "modelName",
            "in": "query",
            "required": true,
            "description": "Name of the identifier to use on the Lytix platform",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelInput",
            "in": "query",
            "required": true,
            "description": "Input to the model",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelOutput",
            "in": "query",
            "required": true,
            "description": "Output of the model",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metricMetadata",
            "in": "query",
            "description": "Metadata to associate with the metric",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "userIdentifier",
            "in": "query",
            "description": "User identifier to associate with io event",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {}
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": ["id"],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error"],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "lx-api-key",
        "in": "header"
      }
    }
  }
}
