{
  "openapi": "3.0.1",
  "info": {
    "title": "Lytix API Reference",
    "description": "API Reference for Lytix",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lytix.co/v1/metrics"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/modelIO": {
      "post": {
        "operationId": "modelIO",
        "description": "Logs a new model IO event to the Lytix platform",
        "requestBody": {
          "description": "Model IO event to log",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewModelIO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model IO response",
            "content": {}
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewModelIO": {
        "allOf": [
          {
            "required": ["modelName", "modelInput", "modelOutput"],
            "type": "object",
            "properties": {
              "modelName": {
                "description": "Name of the identifier to use on the Lytix platform",
                "type": "string"
              },
              "modelInput": {
                "description": "Input to the model",
                "type": "string"
              },
              "modelOutput": {
                "description": "Output of the model",
                "type": "string"
              },
              "metricMetadata": {
                "description": "Metadata to associate with the metric",
                "type": "object"
              },
              "userIdentifier": {
                "description": "User identifier to associate with the IO event",
                "type": "string"
              },
              "sessionId": {
                "description": "Session Id to associate with the IO event",
                "type": "string"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error"],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "lx-api-key",
        "in": "header"
      }
    }
  }
}
