{
  "openapi": "3.0.1",
  "info": {
    "title": "Lytix API Reference",
    "description": "API Reference for Lytix",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lytix.co/"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/metrics/modelIO": {
      "post": {
        "operationId": "modelIO",
        "description": "Logs a new model IO event to the Lytix platform",
        "requestBody": {
          "description": "Model IO event to log",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewModelIO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model IO response",
            "content": {}
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/optimodel/api/v1/query": {
      "post": {
        "operationId": "query",
        "description": "Query [optimodel](https://github.com/Lytix-Labs/optimodel/tree/master) via the Lytix SAAS",
        "requestBody": {
          "description": "Optimodel request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimodelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Optimodel response",
            "content": {}
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/beta/api/v1/evaluateBot": {
      "post": {
        "operationId": "evaluateBot",
        "description": "Evaluates a conversation based on a set of known criteria see [here](/SessionEvaluation/session-evaluation-push-sessions) for a full example.",
        "requestBody": {
          "description": "Conversation to evaluate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotEvalBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model IO response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotEvalResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ModelImageMessageSource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "mediaType": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        },
        "required": ["type", "mediaType", "data"]
      },
      "ModelMessageContentEntry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "$ref": "#/components/schemas/ModelImageMessageSource",
            "nullable": true
          }
        },
        "required": ["type"]
      },
      "ModelMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ModelMessageContentEntry"
                }
              }
            ]
          }
        },
        "required": ["role", "content"]
      },
      "Plant": {
        "required": ["name"],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewModelIO": {
        "allOf": [
          {
            "required": ["modelName", "modelInput", "modelOutput"],
            "type": "object",
            "properties": {
              "modelName": {
                "description": "Name of the identifier to use on the Lytix platform",
                "type": "string"
              },
              "modelInput": {
                "description": "Input to the model",
                "type": "string"
              },
              "modelOutput": {
                "description": "Output of the model",
                "type": "string"
              },
              "metricMetadata": {
                "description": "Metadata to associate with the metric",
                "type": "object"
              },
              "userIdentifier": {
                "description": "User identifier to associate with the IO event",
                "type": "string"
              },
              "sessionId": {
                "description": "Session Id to associate with the IO event",
                "type": "string"
              }
            }
          }
        ]
      },
      "OptimodelRequest": {
        "allOf": [
          {
            "required": ["modelToUse", "messages"],
            "type": "object",
            "properties": {
              "messages": {
                "description": "Messages to use for the query",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "Role of the message (e.g. user, bot)"
                    },
                    "content": {
                      "$ref": "#/components/schemas/ModelMessage"
                    }
                  }
                }
              },
              "modelToUse": {
                "description": "Model to use for the query",
                "type": "string",
                "enum": [
                  "llama_3_8b_instruct",
                  "llama_3_70b_instruct",
                  "llama_3_1_405b",
                  "llama_3_1_70b",
                  "llama_3_1_8b",
                  "claude_3_5_sonnet",
                  "claude_3_haiku",
                  "mistral_7b_instruct",
                  "mixtral_8x7b_instruct",
                  "gpt_4",
                  "gpt_3_5_turbo",
                  "gpt_4o",
                  "gpt_4_turbo",
                  "gpt_3_5_turbo_0125",
                  "gpt_4o_mini"
                ]
              },
              "speedPriority": {
                "description": "Speed priority of the query (low or high)",
                "type": "string",
                "enum": ["low", "high"]
              },
              "temperature": {
                "description": "Temperature of the query",
                "type": "number"
              },
              "maxGenLen": {
                "description": "Max generations of the query",
                "type": "number"
              },
              "jsonMode": {
                "description": "Whether to use json mode",
                "type": "boolean"
              },
              "provider": {
                "description": "Provider to use for the query",
                "type": "string",
                "enum": ["openai", "groq", "bedrock", "anthropic", "together"]
              }
            }
          }
        ]
      },
      "BotEvalBody": {
        "allOf": [
          {
            "required": ["conversation", "context"],
            "type": "object",
            "properties": {
              "conversation": {
                "description": "Name of the identifier to use on the Lytix platform",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "Role of the message (e.g. user, bot)"
                    },
                    "content": {
                      "type": "string",
                      "description": "Content of the message"
                    }
                  }
                }
              },
              "context": {
                "description": "Mapping between 'role' and ground truth context (e.g. the ground truth for the bot)",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "version": {
                "description": "Version of the session to evaluate",
                "type": "string"
              },
              "sessionId": {
                "description": "Session Id to associate with the IO event",
                "type": "string"
              }
            }
          }
        ]
      },
      "BotEvalResponse": {
        "allOf": [
          {
            "required": ["finalGrade", "allGrades"],
            "type": "object",
            "properties": {
              "finalGrade": {
                "description": "Map between 'role' and final grade on the conversation",
                "type": "object",
                "items": {
                  "type": "object",
                  "properties": {
                    "Coherency": {
                      "type": "object",
                      "properties": {
                        "grade": {
                          "type": "string",
                          "description": "Grade of the coherency of the response"
                        },
                        "explanation": {
                          "type": "string",
                          "description": "Explanation of the grade"
                        }
                      }
                    },
                    "AccurateToGroundTruth": {
                      "properties": {
                        "grade": {
                          "type": "string",
                          "description": "Grade of the accuracy of the response to the ground truth"
                        },
                        "explanation": {
                          "type": "string",
                          "description": "Explanation of the grade"
                        }
                      }
                    },
                    "Grammar": {
                      "properties": {
                        "grade": {
                          "type": "string",
                          "description": "Grade of the grammar of the response"
                        },
                        "explanation": {
                          "type": "string",
                          "description": "Explanation of the grade"
                        }
                      }
                    }
                  }
                }
              },
              "allGrades": {
                "description": "Mapping between 'role' and grade on individual messages",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error"],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "lx-api-key",
        "in": "header"
      }
    }
  }
}
